#section-statistics .row > div {
    margin-top: 20px;
}

.content.custom-seperator {
    background-image: url(../images/bg3.jpg);
    min-height: 150px;
    width: 100%;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -ms-background-size: cover;
    background-size: cover;
}
