@using SHConsultancy.Models
@{ ViewBag.Title = "Services"; }

<div id="page-wrapper">
    @Html.Partial("_Header", new HeaderViewModel { IsDefault = true, IsFixed = false })

    @Html.Partial("_Footer")
</div>