@using SHConsultancy.Models
<div id="page-wrapper">
    @Html.Partial("_Header", new HeaderViewModel {IsDefault = true, IsFixed = false})

    <!-- ==========================
    ABOUT - START
    =========================== -->
    <section class="jumbotron jumbotron2">
        <div class="container">
            <h2>WELCOME TO StoneHenge<sup>Qa</sup> Consultancy
            </h2>
        </div>
    </section>

    <section class="content" id="section-introduction">
        <div class="container">
            <h2>Who We Are?</h2>
            <p>StoneHenge Qa is a U.K. based, international consultancy that specialises in education, training, development and management. The company is a customer centric organisation that values client-customer relationships from across the world. Through effective and bespoke consultations, WE will HELP you achieve your goals. We have empowered students to success all around the GCC region and the rest of the world.</p>
            <p>Our partnerships with different universities and colleges both domestic and international, allows  our consultants and private mentors to provide expert advice and information on the best universities, corporate programs and academic services that will suit a client’s  needs. The diverse collection of skills and experiences enables our team to provide outstanding service to students on a global scale.</p>
        </div>
    </section>
    <section class="content custom-seperator seperator-aboutus"></section>
        <section class="content" id="section-introduction">
            <div class="container">
                <h2>Why Choose us?</h2>
                <p><b>Expert</b></p>
                <p>Our consultants have a wealth of experience and expertise in the education and training sector. We provide bespoke direction to help YOU plan your training and academic studies.</p>
                <p>
                    <b>Trust</b>
                </p>
                <p>Our consultants are trustworthy, transparent, honest and fully dedicated to your needs.</p>
                <p><b>Quality</b></p>
                <p>Customers will receive a personalised service from our dedicated team of consultants who will always provide high quality support throughout the process</p>
                <p><b>Experience</b></p>
                <p>Our team consists of experienced professionals who are experts in their respective fields. This enables them to provide high quality, professional advice to our clients and students.</p>
                <p><b>Local</b></p>
                <p>Our consultants are available when YOU need them. We accommodate for different time zones, cultures, languages so that we can develop an action plan that works best for YOU.</p>
            </div>
        </section>
    <section class="content custom-seperator seperator-aboutus"></section>
        <section class="content" id="section-introduction">
            <div class="container">
                <h2>What makes us Unique?</h2>
                <p><b>Purpose</b></p>
                <p>We aim to empower and guide students and corporate clients to be future collaborators of VALUE for business and society as a whole.</p>
                <p>
                    <b>Method</b>
                </p>
                <p>We generate and create models, materials, systems and an environment that develops effective learning capabilities for future leadership</p>
                <p><b>Partnership</b></p>
                <p>
                    We aim to expand our partnerships on a global scale to accommodate and grow our knowledge so that we can give back to the community whilst operating responsibly. Through partnerships, we develop effective processes that can withstand the constant challenges in our environment.
                </p>
                <p><b>Communication</b></p>
                <p>We will encourage and support communication and debates with students, businesses, government, customers, media, educational institutes and all other interested parties on important issues related to social responsibility and sustainable business.</p>
                <p><b>Results</b></p>
                <p>We take pride in the reputation of our brand and are happy that our customers highly recommend our services and products. Customer satisfaction and trust is our core principles that have enabled us to achieve great success.</p>
                <br /><p>Since knowledge and culture are not static, we also have a continuing commitment to the testing and evaluation of new ideas and innovative methods of teaching and learning.</p>
            </div>
        </section>
        <!-- ==========================
        SEPARATOR - START
        =========================== -->
        <section class="content content-separator text-center" id="separator1">
            <div class="container">
                <p>Let US do the hard work for YOU! - So don’t wait <b><a style="color:white !important" href="@Url.Action("Index", "ContactUs")">Contact Us</a></b> for additional information and advice.</p>
            </div>
        </section>
        <!-- ==========================
        SEPARATOR - END
        =========================== -->

        @Html.Partial("_Footer")
</div>