
<!-- ==========================
        FOOTER - START
    =========================== -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <h3><i class="fa fa-flag"></i>Contact</h3>
                <ul class="brands brands-inline brands-sm brands-transition brands-circle">
                    <li><a href="https://www.facebook.com/stonehenge.consultancy.3?fref=ts"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/stonehenge-consultancy-203876129?trk=hp-identity-name"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://plus.google.com/u/0/107129165853564950522"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCkt09BfMVgY8ZF_bLA3PAng"><i class="fa fa-youtube"></i></a></li>
                </ul>
            </div>

            <div class="col-md-4 hidden-xs hidden-sm">
                <h3><i class="fa fa-black-tie"></i>Partners</h3>
                <div class="row">
                    <div class="col-md-6"><a href="#"><img src="~/images/partners/partner_003_bw.jpg"></a></div>
                    <div class="col-md-6"><a href="#"><img src="~/images/partners/partner_003_bw.jpg"></a></div>
                    <div class="col-md-6"><a href="#"><img src="~/images/partners/partner_003_bw.jpg"></a></div>
                    <div class="col-md-6"><a href="#"><img src="~/images/partners/partner_003_bw.jpg"></a></div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <h3><i class="fa fa-newspaper-o"></i>Newsletter</h3>
                <p class="contact-text">subscribe to our newsletter.</p>
                @using (Html.BeginForm("SendNewsLetterEmail", "Helper", FormMethod.Get)) 
                {
                    <fieldset>
                        <div class="form-group nospace">
                            <div class="input-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Please enter your email" required>
                                <span class="input-group-btn"><button class="btn btn-primary" type="submit">Submit</button></span>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-copyright">
                <p>© StoneHenge Consultancy 2016 All right reserved. Developed by <a href="mailto:moidriez@gmail.com" target="_blank">Mohamed Idries.</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- ==========================
    FOOTER - END
=========================== -->
